<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Preconnect -->
    <link rel="dns-prefetch" href="//cdn.toolkit.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.disability.illinois.edu">
    <link rel="dns-prefetch" href="//onetrust.techservices.illinois.edu">

    <!-- Illinois Toolkit -->
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/illinois.css">
    <link rel="stylesheet" href="https://cdn.toolkit.illinois.edu/3/toolkit.css">
    <script type="module" src="https://cdn.toolkit.illinois.edu/3/toolkit.js"></script>
    <title>{{ title }}</title>
    <style>
      code {
          background: #e7e7f7;
          font-size: 1.2rem;
          overflow-wrap: break-word;
      }
      ilw-page-title img {
         -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
      }
    </style>
</head>
<body style="margin: 0;">
  <ilw-page class="ilw-margin ilw-font">
    {% render 'header' %}
    <main>
      <ilw-content>
        <h1>{{ title }} {{ environment.title }}</h1>
        {{ content }}
      </ilw-content>
      <ilw-content class="update" padding="40px;">
            <h2>Sample Heading For Color Groups</h2>
            <h3>
                <a href="#">Sample Link Heading</a>
            </h3>
            <p>This is some paragraph text. <a href="#">Sample link for link text</a>.</p>
            <button class="ilw-button">Control Button</button>
      </ilw-content>
      <ilw-spacer></ilw-spacer>
    </main>
    {% render 'footer' %}
  </ilw-page>
</body>
</html>