<ilw-footer slot="footer">
  <a slot="primary-unit" href="https://webtheme.illinois.edu/about/">Web Implementation Guidelines Group</a>
  <a slot="site-name" href="/index.html">Component Builder Information (v3+)</a>
  <a class="ilw-button" slot="actions" href="https://github.com/web-illinois/toolkit-builder-3/issues">Create an issue with the new toolkit builder</a>
</ilw-footer>
