<ilw-footer slot="footer">
  <a slot="primary-unit" href="https://wigg.illinois.edu/">Web Implementation Guidelines Group</a>
  <a slot="site-name" href="/index.html">Component Builder Information (v3+)</a>
  <p style="font-weight: 700;">Note: this page is not using the toolkit because it is meant to test individual components in isolation.</p>
</ilw-footer>
