<ilw-header slot="header">
  <a slot="primary-unit" href="https://wigg.illinois.edu/">Web Implementation Guidelines Group</a>
  <a slot="site-name" href="/index.html">Component Builder Information (v3+)</a>
    <nav slot="links" aria-label="Utility">
    <ul>
      <li><a href="https://builder.toolkit.illinois.edu">Old Builder</a></li>
      <li><a href="https://wigg.illinois.edu/membership/web-components/">About Our Team</a></li>
    </ul>
  </nav>
  <ilw-header-menu slot="navigation">
    <ul>
      <li><ilw-header-menu-section>
        <span slot="label">Start Here</span>
        <ul>
          <li><a href="/getting_started/index.html">Getting Started</a></li>
          <li><a href="/generic_html/index.html">Generic HTML Template</a></li>
          <li><a href="/create_page/index.html">Create a Page</a></li>
          <li><a href="/upgrade/index.html">Upgrade from V2</a></li>
        </ul>
      </ilw-header-menu-section></li>
      <li><ilw-header-menu-section>
        <span slot="label">Information</span>
        <ul>
          <li><a href="/philosophy/index.html">Philosophy</a></li>
          <li><a href="/links/index.html">Helpful Links</a></li>
          <li><a href="/releases_support_lifecycle/index.html">Release and Support Lifecycle</a></li>
          <li><a href="/github/index.html">Organization and Github</a></li>
        </ul>
      </ilw-header-menu-section></li>
      <li><a href="/components_toc/index.html">Components</a></li>
      <li><a href="/preview/index.html">Component Preview</a></li>
      <li><ilw-header-menu-section>
        <span slot="label">Production Integration</span>
        <ul>
          <li><a href="/demo/production/index.html">Demonstration Pages</a></li>
          <li><a href="/themes/production/index.html">Themes</a></li>
          <li><a href="/integration/production/index.html">Component Integration</a></li>
        </ul>
      </ilw-header-menu-section></li>
      <li><ilw-header-menu-section>
        <span slot="label">Beta Integration</span>
        <ul>
          <li><a href="/demo/beta/index.html">Demonstration Pages</a></li>
          <li><a href="/themes/beta/index.html">Themes</a></li>
          <li><a href="/integration/beta/index.html">Component Integration</a></li>
        </ul>
      </ilw-header-menu-section></li>
    </ul>
  </ilw-header-menu>
</ilw-header>
