<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles' %}
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    {% render 'header' %}
    <main>
      <div class="builder-section">
      {{ content }}
      </div>
    </main>
    {% render 'footer' %}
</body>
</html>