<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% render 'scripts_styles_toolkit' %}
    <title>{{ title }}</title>
    <style>
      code {
          background: #e7e7f7;
          font-size: 1.2rem;
          overflow-wrap: break-word;
      }

      ilw-page-title {
          left: calc(50% - 10px);
          margin-left: -50vw;
          margin-right: -50vw;
          padding-left: 0;
          padding-right: 0;
          position: relative;
          right: 50%;
          width: 100vw;
          display: block;
          container-type: inline-size;
      }
    </style>
</head>
<body style="margin: 0;">
  <ilw-page class="ilw-margin ilw-font">
    {% render 'header' %}
    <main>
      <ilw-content>
        {{ content }}
      </ilw-content>
      <ilw-spacer></ilw-spacer>
    </main>
    {% render 'footer' %}
  </ilw-page>
</body>
</html>