<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Preconnect -->
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.toolkit.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.disability.illinois.edu">
    <link rel="dns-prefetch" href="//onetrust.techservices.illinois.edu">

    <!-- Illinois Toolkit -->
    <link rel="shortcut icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="apple-touch-icon" href="https://cdn.brand.illinois.edu/touch-icon-40x40.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.brand.illinois.edu/touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.brand.illinois.edu/touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.brand.illinois.edu/touch-icon-180x180.png">

    {% if localFiles %}
    <link rel="stylesheet" href="/_localfiles/toolkit.css">
    {% else %}
    <link rel="stylesheet" href="//cdn.toolkit.illinois.edu/3/toolkit.css">
    {% endif %}
    {% if localFiles %}
    <script type="module" src="/_localfiles/toolkit.js"></script>
    {% else %}
    <script type="module" src="//cdn.toolkit.illinois.edu/3/toolkit.js"></script>
    {% endif %}

    <script src="//onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
    <script type="text/javascript">function OptanonWrapper() { }</script>

    <script src="https://cdn.disability.illinois.edu/skipto.min.js"></script>
    <script>var SkipToConfig = { 'settings': { 'skipTo': { displayOption: 'static', colorTheme: 'illinois', headings: 'h1, h2, h3', } } };</script>
    <style>
      .image-padding {
        padding-top: 40px;
      }
    </style>

    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
<ilw-page class="{{ classOptions }}">
<ilw-header slot="header">
  <a slot="primary-unit" href="/">Toolkit Builder 3</a>
  <a slot="site-name" href="/sample_page/index.html">Whispering Pines College</a>
  <nav slot="links" aria-label="Utility">
      <ul><li><a href="#">Contact</a></li>
      <li><a href="#">Apply</a></li>
      <li><a href="#">Give</a></li></ul>
  </nav>
  <form class="search-form" role="search" method="GET" action="/" slot="search">
      <input class="search-field" type="search" name="s" aria-labelledby="search-button" placeholder="Search this site">
      <button class="search-button" type="submit" id="search-button" name="search" value="1">Search</button>
  </form>
  <ilw-header-menu slot="navigation">
    <ul>
      <li><a href="/sample_page/index.html">About</a></li>
      <li><a href="/sample_page/index.html">Academics</a></li>
      <li><ilw-header-menu-section id="current2" linked="true">
            <a slot="link" href="/sample_page/index.html">Admissions</a>
            <ul>
              <li><a href="/sample_page/index.html">Philosophy</a></li>
              <li><a href="/sample_page/index.html">Helpful Links</a></li>
              <li><a href="/sample_page/index.html">Organization and Github</a></li>
              <li> <ilw-header-menu-section>
                <span slot="label">Smithsonite</span>
                <ul>
                  <li><a href="#">Amphibole</a></li>
                  <li><a href="#">Pyroxene</a></li>
                  <li><a href="#">Feldspar</a></li>
                </ul>
              </ilw-header-menu-section></li>
              <li><ilw-header-menu-section linked="true">
                <a slot="link" href="#">Garnet</a>
                <ul>
                  <li><a href="#">Gneiss</a></li>
                  <li><a href="#">Peridotite</a></li>
                  <li><a href="#">Syenite</a></li>
                  <li><a href="#">Porphyry</a></li>
                </ul>
               </ilw-header-menu-section></li>
            </ul>
        </ilw-header-menu-section></li>
      <li><ilw-header-menu-section id="current2" linked="true">
            <a slot="link" href="/sample_page/index.html">Research</a>
            <ul>
              <li><a href="/sample_page/index.html">Philosophy</a></li>
              <li><a href="/sample_page/index.html">Helpful Links</a></li>
              <li><a href="/sample_page/index.html">Organization and Github</a></li>
              <li> <ilw-header-menu-section>
                <span slot="label">Smithsonite</span>
                <ul>
                  <li><a href="#">Amphibole</a></li>
                  <li><a href="#">Pyroxene</a></li>
                  <li><a href="#">Feldspar</a></li>
                </ul>
              </ilw-header-menu-section></li>
              <li><ilw-header-menu-section linked="true">
                <a slot="link" href="#">Garnet</a>
                <ul>
                  <li><a href="#">Gneiss</a></li>
                  <li><a href="#">Peridotite</a></li>
                  <li><a href="#">Syenite</a></li>
                  <li><a href="#">Porphyry</a></li>
                </ul>
               </ilw-header-menu-section></li>
            </ul>
        </ilw-header-menu-section></li>
      <li><a href="/sample_page/index.html">Diversity</a></li>
    </ul>
  </ilw-header-menu>
</ilw-header>

<main>
  {{ content }}
  <ilw-back-to-top></ilw-back-to-top>
</main>
<ilw-footer slot='footer'>
  <a slot="primary-unit" href="/">Toolkit Builder 3</a>
  <a slot="site-name" href="/sample_page/index.html">Whispering Pines College</a>
  <address slot="address">
    <div>1313 Pine Avenue</div>
    <div>Normal, ZZ 99999</div>
    <div>Phone: 555-874-3000</div>
    <div>Email: contact@iou.edu</div>
  </address>
  <div slot="actions">
    <a href="#">Give</a>
    <a href="#">Apply</a>
  </div>
  <nav slot="social" aria-label="Social media">
    <ul>
      <li><a data-service="facebook" href="#">Facebook</a></li>
      <li><a data-service="instagram" href="#">Instagram</a></li>
      <li><a data-service="linkedin" href="#">LinkedIn</a></li>
    </ul>
  </nav>
  <ilw-columns>
    <ilw-content theme="gray">
      <p class="ilw-heading">Explore</p>
         <ul>
         <li><a href="#">Calendars</a></li>
         <li><a href="#">Directory</a></li>
         <li><a href="#">Careers</a></li>
         <li><a href="#">Maps</a></li>
         <li><a href="#">Strategic Plan</a></li>
         <li><a href="#">Diversity and Equity</a></li>
         <li><a href="#">Plan a Visit</a></li>
         </ul>
      </ilw-content>
    <ilw-content theme="gray">
      <p class="ilw-heading">Connect</p>
        <ul>
        <li><a href="#">Undergraduate Programs</a></li>
        <li><a href="#">Graduate Programs</a></li>
        <li><a href="#">Online Programs</a></li>
        <li><a href="#">Research Partners</a></li>
        <li><a href="#">Office of the Dean</a></li>
        </ul>
      </ilw-content>
  </ilw-columns>
</ilw-footer>
</ilw-page>
</body>
</html>