<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Preconnect -->
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="dns-prefetch" href="//dev.toolkit.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.disability.illinois.edu">
    <link rel="dns-prefetch" href="//onetrust.techservices.illinois.edu">

    <!-- Illinois Toolkit -->
    <link rel="shortcut icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="apple-touch-icon" href="https://cdn.brand.illinois.edu/touch-icon-40x40.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.brand.illinois.edu/touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://cdn.brand.illinois.edu/touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.brand.illinois.edu/touch-icon-180x180.png">

    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/illinois.css">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/components/il-header.css">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/components/il-footer.css">

    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-global/3.0.0-alpha/ilw-global.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-page/0.9.0/ilw-page.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-hero/1.0.0-alpha/ilw-hero.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-content/0.9.1/ilw-content.css">
    <link rel="stylesheet" href="https://dev.toolkit.illinois.edu/ilw-back-to-top/1.0.0-alpha/ilw-back-to-top.css">

    <script src="https://cdn.brand.illinois.edu/components/il-header.mjs" type="module" async></script>
    <script src="https://cdn.brand.illinois.edu/components/il-footer.mjs" type="module" async></script>

    <script type="module" src="https://dev.toolkit.illinois.edu/ilw-page/0.9.0/ilw-page.js"></script>
    <script type="module" src="https://dev.toolkit.illinois.edu/ilw-hero/1.0.0-alpha/ilw-hero.js"></script>
    <script type="module" src="https://dev.toolkit.illinois.edu/ilw-content/0.9.1/ilw-content.js"></script>
    <script type="module" src="https://dev.toolkit.illinois.edu/ilw-back-to-top/1.0.0-alpha/ilw-back-to-top.js"></script>

    <script src="//onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
    <script type="text/javascript">function OptanonWrapper() { }</script>

    <script src="https://cdn.disability.illinois.edu/skipto.min.js"></script>
    <script>var SkipToConfig = { 'settings': { 'skipTo': { displayOption: 'popup', colorTheme: 'illinois' } } };</script>

    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
<ilw-page {{ illinoisToggle }}>
<il-header slot="header">
  <a slot="primary-unit" href="/">Toolkit Builder 3</a>
  <a slot="site-name" href="/sample_page/index.html">Whispering Pines College</a>
  <il-header-nav slot="navigation">
    <ul>
      <li><a href="/sample_page/index.html">About</a></li>
      <li><a href="/sample_page/index.html">Academics</a></li>
      <li><a href="/sample_page/index.html">Admissions</a></li>
      <li><a href="/sample_page/index.html">Research</a></li>
      <li><a href="/sample_page/index.html">Diversity</a></li>
    </ul>
  </il-header-nav>
</il-header>

<main>
  {{ content }}
  <ilw-back-to-top></ilw-back-to-top>
</main>
<il-footer slot='footer'>
  <a slot="primary-unit" href="/">Toolkit Builder 3</a>
  <a slot="site-name" href="/sample_page/index.html">Whispering Pines College</a>
  <address slot="address">
    <div>1313 Pine Avenue</div>
    <div>Normal, ZZ 99999</div>
    <div>Phone: 555-874-3000</div>
    <div>Email: contact@iou.edu</div>
  </address>
</il-footer>
</ilw-page>
</body>
</html>